/*#region Variables*/

$blackcolor: #080013;
$whitecolor: #f9f5ff;

$primarylight: #D5C2F0;
$primarylightmed: #9048F4;
$primarymed: #5C11C5; /* primary */
$primarydarkmed: #3D068B;
$primarydark: #25084D;

$secondarylight: #FFFAC9;
$secondarylightmed: #FFEC3A;
$secondarymed: #FFC500; /* secondary */
$secondarydarkmed: #CDBA00;
$secondarydark: #716702;

$tertiarylight: #EDBCEF;
$tertiarylightmed: #ED39F3;
$tertiarymed: #BA01C0; /* tertiary */
$tertiarydarkmed: #810086;
$tertiarydark: #48014A;

$quarternarylight: #F5FEC7;
$quarternarylightmed: #DEFE3A;
$quarternarymed: #D1F900; /* quarternary */
$quarternarydarkmed: #A7C700;
$quarternarydark: #5C6E01;

/*#region @mixins*/
@mixin light-on-dark-1 {
  color: $whitecolor;
  background-color: $blackcolor;
    }

@mixin light-on-dark-purple {
    color: $primarylight;
    background-color: $blackcolor;
    }

@mixin light-on-dark-gold {
    color: $secondarylight;
    background-color: $secondarydark;
    }

@mixin light-on-dark-magenta {
    color: $tertiarylight;
    background-color: $tertiarydark;
    }

@mixin light-on-dark-lime {
    color: $quarternarylight;
    background-color: $quarternarydark;
    }

@mixin dark-on-light {
  color: $whitecolor;
  background-color: $blackcolor;
    }

@mixin dark-on-light-purple {
    color: $primarydark;
    background-color: $primarylight;
    }

@mixin dark-on-light-gold {
    color: $secondarydark;
    background-color: $secondarylight;
    }

@mixin dark-on-light-magenta {
    color: $tertiarydark;
    background-color: $tertiarylight;
    }

@mixin dark-on-light-lime {
    color: $quarternarydark;
    background-color: $quarternarylight;
    }


@mixin combo1 {
    background-color: $secondarymed;
    background-image: linear-gradient(45deg, $tertiarymed, $quarternarylightmed);
    background-clip: text;
    /* background-size: 100%; */
    /* background-repeat: repeat; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@mixin gradient1 {
    background-image: linear-gradient($quarternarydarkmed, $tertiarylightmed);
}

@mixin gradient1 {
    background-image: linear-gradient($primarylightmed , $secondarylightmed);
}

/*#endregion @mixins*/

/*#endregion Variables*/


html {
    width: 100%;
    // background-color: grey;

}


body {
    width: 100%;

}

.App {
    width: 100%;
    // background-color: lightgray;

}

.HeaderDiv {
    width: 100%;
    padding: 5px;
    background-color: $primarylightmed;
    display: flex;
    // flex-wrap: wrap;
    contain: content;

    .searchDiv {
        float: left;
        width: 25%;
        position: relative;


        form {
            display: flex;
            position: absolute;
            bottom: 0;
            
            .searchfield {
                width: 100%;
                opacity: .7;
                @include light-on-dark-1;
            }
        }
    }

    .logoDiv {
        margin: 0 auto;
        text-align: center;
        width: 50%;
        
        img {
            width: 20%;
            transition: transform 100ms;
        }
        img:hover {
            transform: scale(1.1);
        }
    }

    .accountDiv {
        float: right;
        width: 25%;
        position: relative;

        .accountlink {
            float: right;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        
    }

}

.NavDiv {
    width: 100%;
    justify-content: space-around;

}


.Main {
    width: 100%;
    // padding: 5px;
    // height: 100vh;



    .personDiv {
        width: 100%;
        // background-color: green;

        .avatarDiv {
            width: 100%;
            // background-color: blue;
            text-align: center;
    
        }
    
        .nameDiv {
            width: 100%;
            // background-color: blue;
            text-align: center;
        }
    
        .descripDiv {
            width: 100%;
            // background-color: blue;
            text-align: center;
        }
    
        .imageDiv {
            width: 100%;
            // background-color: blue;
            text-align: center;
        }

    }



}

.Main::after {
    background-image: url(./images/images/AdobeStock_187291550.jpeg);
    background-size: cover;
    content: "";
    position: absolute;
    top: 0px;
    right: -10px;
    bottom: -20px;
    left: 0px;
    opacity: .4;
    z-index: -1;
}


.FooterDiv {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: $blackcolor;
    text-align: center;
    color: $secondarymed;

}