/*#region Variables*/

$blackcolor: #080013;
$whitecolor: #f9f5ff;

$primarylight: #D5C2F0;
$primarylightmed: #9048F4;
$primarymed: #5C11C5; /* primary */
$primarydarkmed: #3D068B;
$primarydark: #25084D;

$secondarylight: #FFFAC9;
$secondarylightmed: #FFEC3A;
$secondarymed: #FFC500; /* secondary */
$secondarydarkmed: #CDBA00;
$secondarydark: #716702;

$tertiarylight: #EDBCEF;
$tertiarylightmed: #ED39F3;
$tertiarymed: #BA01C0; /* tertiary */
$tertiarydarkmed: #810086;
$tertiarydark: #48014A;

$quarternarylight: #F5FEC7;
$quarternarylightmed: #DEFE3A;
$quarternarymed: #D1F900; /* quarternary */
$quarternarydarkmed: #A7C700;
$quarternarydark: #5C6E01;

/*#region @mixins*/
@mixin light-on-dark-1 {
  color: $whitecolor;
  background-color: $blackcolor;
    }

@mixin light-on-dark-purple {
    color: $primarylight;
    background-color: $blackcolor;
    }

@mixin light-on-dark-gold {
    color: $secondarylight;
    background-color: $secondarydark;
    }

@mixin light-on-dark-magenta {
    color: $tertiarylight;
    background-color: $tertiarydark;
    }

@mixin light-on-dark-lime {
    color: $quarternarylight;
    background-color: $quarternarydark;
    }

@mixin dark-on-light {
  color: $whitecolor;
  background-color: $blackcolor;
    }

@mixin dark-on-light-purple {
    color: $primarydark;
    background-color: $primarylight;
    }

@mixin dark-on-light-gold {
    color: $secondarydark;
    background-color: $secondarylight;
    }

@mixin dark-on-light-magenta {
    color: $tertiarydark;
    background-color: $tertiarylight;
    }

@mixin dark-on-light-lime {
    color: $quarternarydark;
    background-color: $quarternarylight;
    }


@mixin combo1 {
    background-color: $secondarymed;
    background-image: linear-gradient(45deg, $tertiarymed, $quarternarylightmed);
    background-clip: text;
    /* background-size: 100%; */
    /* background-repeat: repeat; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

@mixin gradient1 {
    background-image: linear-gradient($quarternarydarkmed, $tertiarylightmed);
}

@mixin gradient2 {
    background-image: linear-gradient($primarylightmed , $secondarylightmed);
}

@mixin horizontal-3-gradient {
    background-image: linear-gradient(90deg, $quarternarymed, $whitecolor, $quarternarymed);
}

@keyframes gradient-animation {
    from {    background-image: linear-gradient(90deg, $quarternarymed, $whitecolor, $quarternarymed);}
    50% {    background-image: linear-gradient(90deg, $tertiarylightmed, $whitecolor, $tertiarylightmed);}
    to {    background-image: linear-gradient(90deg, $quarternarymed, $whitecolor, $quarternarymed);}
}

/*#endregion @mixins*/

/*#endregion Variables*/


html {
    width: 100%;
    // background-color: grey;

}

h1 , h2 , h3 , h4 , h5 , h6 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

body {
    width: 100%;
    // background-color: grey;

}

.App {
    width: 100%;
    // background-color: lightgray;
    // height: 100%;

}

.splashDiv {
    width: 80%;
    margin: 8% auto;
    display: flex;
    flex-wrap: wrap;
    background-color: hsla(75, 80%, 90%, 0.632);
    border: solid 2px $whitecolor;
    border-radius: 10px;


    

    .titleDiv {
        width: 100%;
        margin: 0 auto;
        // background-color: greenyellow;
        margin-top: 100px;
        margin-bottom: 50px;

        .logoDiv {
            margin: 5px auto;
            text-align: center;
            width: 70%;
            
            img {
                width: 100%;
                transition: transform 100ms;
            }

        }

        .KLNGDiv {
            width: 80%;
            margin: 0 auto;
            // background-color: red;

            @keyframes titleColorChange {
                0%   {color: $primarymed;}
                50%  {color: $tertiarymed;}
                100% {color: $primarymed;}
            }

            h1 {
                font-size: 500%;
                font-family: Arial, Helvetica, sans-serif;
                text-align: center;
                color: $primarymed;
                animation-name: titleColorChange;
                animation-duration: 10s;
                animation-iteration-count: infinite;
            }
        }

        .SloganDiv {
            width: 100%;
            margin: 0 auto;
            padding: 5px 0;
            // background-color: #3c0c7276;

            h2 {
                font-size: 250%;
                text-align: center;
                color: $secondarymed;
                background-color: $secondarydarkmed;
                background-image: linear-gradient(45deg, $primarylightmed, $secondarymed);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent; 
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
            }



        }
    }


    .submitDiv {
        width: 80%;
        margin: 0 auto;
        // background-color: indigo;
        color: $tertiarymed;

        .discoverDiv {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 10px;
            // background-color: pink;
            h3 {
                font-size: 22px;
                text-align: center;
                color: $tertiarymed;
            }
        }

        .enterDiv {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 40px;
            // background-color: gold;
            text-align: center;
            button {
                cursor: pointer;
            }
        }

        .loginSplashDiv , .registerSplashDiv {
            width: 80%;
            margin: 5px auto;
            // background-color: blue;
            text-align: center;

            .splashLink {
                color: $tertiarymed;

                h4 {
                    transition: transform 100ms;

                    &:hover {
                        transform: scale(1.3);
                    }
                }
            }
        }
    }
}

.splashDiv::after {
    background-image: url(./images/images/AdobeStock_187291550.jpeg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .7;
    z-index: -1;
}

.HeaderDiv {
    width: 100%;
    // padding: 5px;
    @include horizontal-3-gradient;
    display: flex;
    // flex-wrap: wrap;
    contain: content;

    .searchDiv {
        float: left;
        width: 25%;
        position: relative;


        form {
            display: flex;
            position: absolute;
            bottom: 0;
            margin-left: 5px;
            margin-bottom: 5px;
            
            .searchfield {
                width: 100%;
                opacity: .7;
                @include light-on-dark-1;
            }
        }
    }

    .logoDiv {
        margin: 5px auto;
        text-align: center;
        width: 50%;
        
        img {
            width: 20%;
            transition: transform 100ms;
        }
        img:hover {
            transform: scale(1.1);
        }
    }

    .accountDiv {
        float: right;
        width: 25%;
        position: relative;

        .accountlink {
            float: right;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 5px;
            margin-bottom: 5px;
        
            :hover {
                color: $whitecolor;
            }
        }
        
    }

}

.NavDiv {
    width: 100%;
    display: flex;
    background-color: $tertiarydarkmed;
    justify-content: space-around;

    :visited, :link, :active {
        color: $quarternarymed;
    }

    :hover {
        color: $whitecolor;
    }

    h4 {
        color: $quarternarymed;
    }
}



.Main {
    width: 100%;
    // padding: 5px;
    // height: 100%;

    

    .personDiv {
        width: 90%;
        background-color: rgba(245, 254, 199, 0.61);
        margin: 0 auto;
        margin-top: 20px;
        padding-top: 20px;
        border: 2px solid $whitecolor;
        box-shadow: 0px 0px 4px 0.5px $primarylight;
        border-radius: 10px;
        // contain: content;

        .insideMap {
            width: 100;
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            // padding-top: 30px;

            .homeNameDiv {
                width: 100;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 20px;

                h5 {
                    color: $quarternarydark;
                    font-size: normal;
                }

                h1 {
                    font-size: x-large;
                    margin-bottom: 20px;
                    background-color: $secondarydarkmed;
                    background-image: linear-gradient(45deg, $primarylightmed, $secondarymed);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    -moz-background-clip: text;
                    -moz-text-fill-color: transparent;
                }

                h2 {
                    text-align: left;
                    padding: 0 80px;
                    // background-color: blue ;
                }
            }

            .homeUL {
                width: 100%;
                text-align: center;
                

                ul {
                    padding-top: 20px; 


                }

            }
            
            .homeImgDiv {
                margin: 5px auto;
                text-align: center;
                width: 60%;
                // background-color: blue;
                position: relative;
                object-fit: cover;
                // border: $whitecolor 4px solid;
                border-radius: 10px;
                contain: content;
                
                

                img {
                    width: 100%;
                }

            }

        }

        .avatarDiv {
            width: 100%;
            // background-color: blue;
            text-align: center;
    
        }
    
        .nameDiv {
            width: 100%;
            // background-color: blue;
            text-align: center;
        }
    
        .descripDiv {
            width: 100%;
            // background-color: blue;
            text-align: center;
        }
    
        .imageDiv {
            width: 100%;
            // background-color: blue;
            text-align: center;
        }

    }

    .aboutDiv {
        width: 70%;
        background-color: rgba(245, 254, 199, 0.61);
        margin: 0 auto;
        margin-top: 20px;
        padding-top: 20px;
        border: 2px solid $whitecolor;
        box-shadow: 0px 0px 4px 0.5px $primarylight;
        border-radius: 10px;
        text-align: center;

        h1 {
            font-size: xxx-large;
            margin-bottom: 40px;
            background-color: $secondarydarkmed;
            padding: 6px 0 ;
            background-image: linear-gradient(45deg, $primarylightmed, $secondarymed);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
        }

        h2 {
            // background-color: blue;
            margin: 0 60px;
            font-size: large;
            margin-bottom: 40px;
            color: $primarydark;
            text-align: left;

        }

        h3 {
            padding-top: 4px;
            @include dark-on-light-lime();
        }

        h4 {
            color: $primarydark;
            padding-bottom: 5px;
            
        }

        .aboutImgDiv {
            margin: 5px auto;
            margin-bottom: 20px;
            text-align: center;
            width: 60%;
            // background-color: blue;
            position: relative;
            object-fit: cover;
            border: rgba(255, 255, 255, 0.322) 1px solid;
            border-radius: 10px;
            contain: content;
            box-shadow: 0px 0px 20px 0.5px rgba(28, 41, 0, 0.666);
            
            img {
                width: 100%;
            }
        }


    }

    .loginDiv {
        width: 50%;
        margin: 20% auto;
        background-color: hsla(75, 80%, 90%, 0.632);
        border: solid 2px $whitecolor;
        border-radius: 5px;
        // box-shadow: 0px 0px 4px 0.5px $quarternarymed;

        .logTitleDiv {
            // width: 100%;
            // background-color: blueviolet;
            text-align: center;
            margin: 5% 0 15% 0;
        }



        .inputDiv form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // background-color: brown;
            

            #username {
                width: 50%;
                margin: 0 auto;
                margin-bottom: 5%;
                // background-color: blue;
            }

            #password {
                width: 50%;
                margin: 0 auto;
                margin-bottom: 5%;
                // background-color: blue;
            }

            #loginsubmit {
                // background-color: blue;
                margin: 0 auto;
                margin-bottom: 10%;
            }

        }

        .submitDiv {
            width: 100%;
            margin-bottom: 5%;
            // background-color: cadetblue;
            text-align: center;
        }

    }

    .registerDiv {

        width: 50%;
        margin: 20% auto;
        background-color: hsla(75, 80%, 90%, 0.632);
        border: solid 2px $whitecolor;
        border-radius: 5px;
        // box-shadow: 0px 0px 4px 0.5px $quarternarymed;

        .regTitleDiv {
            // width: 100%;
            // background-color: blueviolet;
            text-align: center;
            margin: 5% 0 15% 0;
        }

        .inputDiv form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            // background-color: brown;
            
            h3{
                text-align: center;
                margin-bottom: 5px;
            }
            

            #username, #email, #password,  #github, #linkedin{
                width: 50%;
                margin: 0 auto;
                margin-bottom: 5%;
                // background-color: blue;
            }


            #regsubmit {
                // background-color: blue;
                margin: 0 auto;
                margin-bottom: 10%;
            }

        }

        .submitDiv {
            width: 100%;
            margin-bottom: 5%;
            // background-color: cadetblue;
            text-align: center;
        }

    }

    .ProfDiv {
        width: 100%;
        // background-color: blue;
        display: flex;
        flex-wrap: wrap;

        .ProfContentDiv {
            width: 70%;
            margin: 0 auto;
            margin-top: 5%;
            background-color: hsla(75, 80%, 90%, 0.632);
            border: 1px $secondarydark solid;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;


            .editAbtDiv {
                width: 70%;
                // background-color: greenyellow;
                margin: 0 auto;
                text-align: center;
            }

            .addDiv {
                width: 70%;
                // background-color: pink;
                margin: 0 auto;
                text-align: center;

            }
            
            .editListProjDiv {
                width: 70%;
                // background-color: red;
                margin: 0 auto;
                text-align: center;
            }

        }


    }
}

.Main::after {
    background-image: url(./images/images/AdobeStock_187291550.jpeg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: .7;
    z-index: -1;
}



.FooterDiv {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: $primarydark;
    text-align: center;
    display: flex;

    .KLNG {
        // background-color: red;
        margin: 0 auto;
        display: flex;
        :visited, :link, :active {
            color: $quarternarydarkmed;
        }
    
        :hover {
            color:$whitecolor;
        }

    }

    @keyframes footer {
        from {letter-spacing: normal;}
        to {letter-spacing: 50px;}
    }

    h4 {

        &:hover {
            animation-name: footer;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-play-state: paused;
         
        }
    }

}